*{
    margin: 0;
}
body {
    display: flex;
    margin: 1%;
    padding: 10px;
    background-color: #f4f1f5;
}

#code-editor {
    width: 40%;
    height: 100%;
    padding-top: 1%;
    padding-left: 5%;
}

#combined-code {
}

#preview {
    text-align: left;
    border: 1px solid #080202;
    box-shadow: 1px 1px 1px #0b0505;
    height: 95%;
    background-color: white;
    text-align: right;
    border-radius: 1%
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

button {
    justify-content: center;
    padding: 1.5% 2%;
    margin-left: 20px;
    margin-right: 60px;
    margin-top: 300px;
    height: 3%;
    background-color: #f308bc;
    border-color: #f308bc;
    border-radius: 10%;
    color: #fff;
    cursor: pointer;
    text-align: center;
}

#verification {
    color: red;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
    color: #f308bc;
}

textarea {
    resize: none;
    padding: 8%;
    height: 40em;
    width: 75%;
    line-height: 1.5;
    border-radius: 1%;
    border: 1px solid #080202;
    box-shadow: 1px 1px 1px #0b0505;
  }

.Block1{
    margin-top: 1%;
    width: 40%;
    text-align: center;
    float: right;
    margin-right: 10px;
}