*{
    margin: 0;
}
body {
    display: flex;
    margin: 10px;
    padding: 10px;
    background-color: #f4f1f5;
}

#code-editor {
    width: 40%;
    height: 30vw;
    padding: 20px;
    margin-bottom: 0px;
}

#preview {
    text-align: left;
    border: 1px solid #080202;
    box-shadow: 1px 1px 1px #0b0505;
    height: 38vw;
    background-color: white;
    text-align: right;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

button {
    justify-content: center;
    padding: 10px 20px;
    margin-left: 20px;
    margin-right: 60px;
    margin-top: 300px;
    height: 40px;
    background-color: #f308bc;
    color: #fff;
    border: none;
    cursor: pointer;
    text-align: center;
}

#verification {
    color: red;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
    color: #f308bc;
}

textarea {
    padding: 20px;
    height: 40em;
    width: 40em;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #080202;
    box-shadow: 1px 1px 1px #0b0505;
  }

.Block1{
    margin-top: 20px;
    width: 35em;
    text-align: center;
    float: right;
    margin-right: 10px;
}