body{
    margin: 1%;
    padding: 1%;
}
h1{
    text-align: center;
    justify-content: center
}
.div{
    background-color: rgb(241, 211, 136);
}

.img1{
    margin: 2%;
    height: 30%;
    width: 30%;
    border-style: solid;
}

.div{
    border-style: solid;

}
.texte{
    font-family: Courier, monospace;
    float: right;
    width: 60%;
    text-align: left;
    margin-top: 2%;
    margin-right: 2%;
}
